nav#mainNav.navbar.navbar-expand-lg.navbar-dark.navbar-shrink.fixed-top
  style.
    .nav-item.dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    }
    .dropdown-menu {
      margin-top: 0.5rem;
    }
    .nav-link.dropdown-toggle {
      color: white;
    }
    .dropdown-item {
      color: black;
    }
    .dropdown-item:hover {
      background-color: #f8f9fa;
    }
  .container
    a.navbar-brand(href='/')
      img(style=' height: 66px;' src='/images/img/logo.png' alt='...')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars.ms-1
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
        li.nav-item
          a.nav-link(href='/') Trang Chủ
        li.nav-item
          a.nav-link(href='/api/v1/explore') Khám Phá
        li.nav-item
          a.nav-link(href='/api/v1/contact') Liên Hệ
        - if (!User)
          li.nav-item
            a.nav-link(href='/api/v1/auth/signin') Login
        - else
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' id='userDropdown' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              img.card-img-top(
                style='width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;'
                src=User.avatar ? `data:image/jpeg;base64,${User.avatar.toString('base64')}` : "/images/img/about/3.jpg"
                alt=User.username
              )
              = User.username
            .dropdown-menu(aria-labelledby='userDropdown')
              a.dropdown-item(href='/api/v1/user/profile') Hồ Sơ
              - if (User.role === 1)
                a.dropdown-item(href='/api/v1/admin/dashboard') Quản Lý Hồ Sơ
              form(method='POST' action='/api/v1/auth/logout?_method=DELETE')
                button.dropdown-item(type='submit' style='border: none; background: none;') Đăng Xuất
