extends ../profile

block main-content
  h2 Change Password
    form.profile-form-ChangePassword(action='/api/v1/user/changepassword' method="POST")
      .form-group
        label(for="current-password") Enter Old Password:
        input(type="password" id="current-password" name="current_password")
      .form-group
        label(for="new-password") Enter New Password:
        input(type="password" id="new-password" name="new_password")
      .form-group
        label(for="confirm-password") Confirm New Password:
        input(type="password" id="confirm-password" name="confirm_password")
      .form-buttons
        button(type="submit" class="update-button") Update