html
  head
    title= title
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/login.css")
    link(rel="stylesheet" href="/stylesheets/style.css")

    style.
      .btn-google {
        background-color: #4285F4; /* Màu xanh của Google */
        color: white;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .btn-google i {
        margin-right: 8px; /* Khoảng cách giữa biểu tượng và văn bản */
      }
      .btn-google:hover {
        background-color: #357AE8; /* Màu khi di chuột */
      }

  body
    section.login-block
      include ../partials/flash
      .container
        .row
          .col-md-4.login-sec.d-flex.align-items-center
            .content
              h2.text-center Set Password Now
              | &#x9;&#x9;
              form(action=`/api/v1/auth/setpassword/${email}` method='POST')
                .row
                  .col-12.mb-3
                    .input-group.form-group
                      .input-group-prepend
                      .form-group
                        label.text-uppercase(for='password') Password
                        input#password.form-control(type='password' placeholder='Password' name='password')
                      .form-group
                        label.text-uppercase(for='confirmPassword') Confirm Password
                        input#confirmPassword.form-control(type='confirmPassword' placeholder='Confirm Password' name='confirmPassword')
                      .form-group
                        button.mt-2.btn.btn-signup.float-right(type='submit' value='Signup') Sign Up


          .col-md-8.banner-sec
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                li(data-target='#carouselExampleIndicators' data-slide-to='1')
                li(data-target='#carouselExampleIndicators' data-slide-to='2')
              .carousel-inner(role='listbox')
                .carousel-item.active
                  img.d-block.img-fluid(src='https://static.pexels.com/photos/33972/pexels-photo.jpg' alt='First slide')
                  .carousel-caption.d-none.d-md-block
                    .banner-text
                      h2 This is Heaven
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                .carousel-item
                  img.d-block.img-fluid(src='https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg' alt='First slide')
                  .carousel-caption.d-none.d-md-block
                    .banner-text
                      h2 This is Heaven
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                .carousel-item
                  img.d-block.img-fluid(src='https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg' alt='First slide')
                  .carousel-caption.d-none.d-md-block
                    .banner-text
                      h2 This is Heaven
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    script(type="text/javascript" src="/js/jquery.min.js")
    script(type="text/javascript" src="/js/vue.min.js")
    script(type="text/javascript" src="/javascripts/main.js")
